.extole-referral-reminder-wrapper {
    width: 900px !important;
}

.extole-referral-reminder-wrapper .extole-image {
    width: 100% !important;
    top: -20px;
}

.extole-referral-reminder-wrapper .extole-content {
    width: 900px !important;
}

@media (max-width: 977px) {
    .extole-referral-reminder-wrapper {
        width: 100% !important;
        max-width: 750px;
    }

    .extole-referral-reminder-wrapper .extole-content {
        width: 100% !important;
        max-width: 750px;
    }
}